/* FOR ALLE SIDER */

html {
  background-color: #fbf7e7;
}

* {
  margin: 0;
  box-sizing: border-box;
}
/* skrifttyper */

@font-face {
  font-family: "skia";
  src: url("font/Skia.woff2") format("woff2");
}

/*menubar*/

header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  gap: 20px;
  overflow-x: auto;
  font-size: 1.3rem;
  scrollbar-width: none;
  margin: 3rem;
}

a:hover {
  color: rgb(149, 144, 92);
}

a {
  color: black;
  font-family: "skia";
  font-size: 1rem;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}
nav {
  padding-top: 1rem;
}

#menuknap {
  display: inline-block;
  color: grey;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin: 10px;
}

#logo img {
  margin-inline: 0, auto;
  height: 180px;
  max-width: auto;
}

/* herobillede */

.hero_pic {
  background-image: url(pics/Splash.jpg);
}

#h2-skift {
  margin: 9px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*filtrerings menu*/
#filtrer {
  margin: 10px;
  justify-content: center;
  display: flex;
  flex-direction: unset;
  flex-flow: wrap;
  padding: 10px;
  gap: 7px;
}

button {
  font-family: "skia";
  font-weight: lighter;
  border: none;
  background-color: #fbf7e7;
  font-size: 1rem;
}

#liste {
  margin-inline: 9px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 0px;
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 8rem;
}

h2 {
  font-family: "skia";
  font-weight: lighter;
}

Element #h2-skift {
  margin: 9px;
}
Element #liste {
  margin-inline: 9px;
}

/* footer  */

#footer_footer {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #f77e0b;
}

#footer_1 {
  font-family: "skia";
  padding: 2rem;
  text-align: center;
}

.footer_box p {
  line-height: 1.4rem;
  color: white;
}

#footer_box1 a {
  text-decoration-line: none;
  color: white;
}

#footer_box1 a:hover {
  color: rgb(149, 144, 92);
}

.footer_box h2 {
  color: white;
}

#footer_1 ul {
  list-style: none;
}

.footer_box {
  max-width: 200px;
  margin: 2rem;
}
/* } */

/* burger menu*/
.hidden {
  display: none;
  /* transform: scale(0);  */
  transform: translateX(-100%);
}

/* "Valgt" filtrerings knap*/
.valgt {
  color: rgb(149, 144, 92);
  text-decoration: underline;
}

/* @media only screen and (max-width: 600px) { */
#menu #logo {
  display: none;
}

h1 {
  padding-top: 2rem;
}

#logo2 {
  height: 100px;
  width: auto;
  margin-inline: auto;
  margin-block-end: 20px;
  top: 11px;
  position: absolute;
  left: 37vw;
}

#logo_2 {
  margin-inline: auto;
}

@media only screen and (min-width: 600px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
    display: flex;
    gap: 50px;
  }

  #menu li {
    display: inline-block;
  }

  #logo_2 {
    display: none;
  }

  #menu #logo {
    display: block;
  }
  a {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 700px) {
  #footer_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
  }

  .footer_box {
    max-width: 300px;
    margin: 3rem;
  }
}

@media only screen and (min-width: 900px) {
  #filtrer {
    gap: 40px;
  }

  #liste {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  button {
    font-size: 1.2rem;
    font-weight: lighter;
  }
}
