/* FOR ALLE OM OS */

@font-face {
  font-family: "skia";
  src: url("font/Skia.woff2") format("woff2");
}

h1 {
  font-family: "skia";
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.portraet {
  height: 500px;
  width: 500px;
  margin-inline: auto;
}

.portraet p {
  position: absolute;
}

/* placering af tekster omkring portræt */

.facts {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

p .class1 {
  grid-column: 6/14;
  grid-row: 3/8;
}
