/* FOR ALLE OM OS */

@font-face {
  font-family: "skia";
  src: url("font/Skia.woff2") format("woff2");
}

h1 {
  font-family: "skia";
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.portraet {
  height: auto;
  width: 90%;
  margin-inline: auto;
}

.portraet p {
  position: absolute;
}

/* placering af tekster omkring portræt */

.facts {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

p .class1 {
  grid-column: 6/14;
  grid-row: 3/8;
}

.portraet_sprite_c {
  background-image: url("pics/cecilie_1_mobil.png");
}
.portraet_sprite_t {
  background-image: url("pics/thea_1_mobile.png");
}
.portraet_sprite_r {
  background-image: url("pics/rebecca_1_mobil.png");
}
.portraet_sprite_l {
  background-image: url("pics/laura_1_mobil.png");
}

.portraet_sprite_l,
.portraet_sprite_r,
.portraet_sprite_t,
.portraet_sprite_c {
  height: 116vw;
  background-size: cover;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media only screen and (min-width: 600px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
    display: flex;
    gap: 50px;
  }

  #menu li {
    display: inline-block;
  }

  #logo_2 {
    display: none;
  }

  #menu #logo {
    display: block;
  }
  a {
    font-size: 1.2rem;
  }

  .portraet {
    max-width: 1000px;
    max-height: auto;
  }
  .portraet {
    height: auto;
    width: 90%;
  }
}

@media only screen and (min-width: 850px) {
  .portraet_sprite_c {
    background-image: url("pics/cecilie_1.png");
  }
  .portraet_sprite_t {
    background-image: url("pics/thea_1.png");
  }
  .portraet_sprite_r {
    background-image: url("pics/rebecca_desk1.png");
  }
  .portraet_sprite_l {
    background-image: url("pics/laura_1.png");
  }

  .portraet_sprite_l,
  .portraet_sprite_t,
  .portraet_sprite_c {
    height: 53vw;
    background-size: cover;
  }

  .portraet_sprite_r {
    height: 67vw;
  }
}

@media only screen and (min-width: 1100px) {
  .portraet_sprite_l,
  .portraet_sprite_t,
  .portraet_sprite_c,
  .portraet_sprite_r {
    margin-left: 1rem;
    margin-right: 1rem;
    background-size: cover;
  }
}
